/* MEDIA */
@media (max-width: 950px){
    .top-container > h1{
        text-align: center;
        margin-top: 3%;
        color: white;
        font-size: 300%;
    }

    .material-icons-outlined{
        display: none;
    }
    /* Index: Intro Container */
    .intro-container {
        position: relative;
        width: 160%;
        height: 120%;
        border: 16px black solid;
        border-top-width: 60px;
        border-bottom-width: 60px;
        border-radius: 36px;
      }
      .intro-container:before {
        content: '';
        display: block;
        width: 60px;
        height: 5px;
        position: absolute;
        top: -30px;
        left: 50%;
        transform: translate(-50%, -50%);
        background: #333;
        border-radius: 10px;
      }
      .intro-container:after {
        content: '';
        display: block;
        width: 35px;
        height: 35px;
        position: absolute;
        left: 48%;
        bottom: -65px;
        margin: auto;
        transform: translate(-50%, -50%);
        background: #333;
        border-radius: 50%;
      }
      .content {
        width: 100%;
        height: 100%;
        background: lightblue;
        margin: -1px;
        text-align: justify;
        padding: 8%;
        overflow-y: auto;
      }
      #content > h1{
        text-align: center;
        font-size: 600%;
     }
     #content > P{
       display: inline-block;
       font-size: 150%;
       padding-bottom: 5px;
     }
    /* Index: Contact Container */
    .contact-container{
        text-align: left;
        margin: 25px 0;
        color: white;
        border: white solid;
        border-width: 0.5px;
        border-radius: 5%;
        padding: 15px;
    }
    #contact-back{
        width: 30%;
        height: 10%;
        border-radius: 8px;
        font-size: 170%;
        margin-left: auto; 
        margin-right: 0;
        float: none;
    }
    .submit-button:hover , #contact-me:hover, #contact-back:hover{
        background-color: #E0E0E0;
        cursor: url(https://cur.cursors-4u.net/cursors/cur-2/cur116.cur), auto !important;
    }
    /* About: Picture Container */
    .profile-pic-container{
        text-align:center;
        background-color: #FDFEFE;
        max-width: 80%;
        margin: 3% auto;
        overflow: hidden;
        border-radius: 8px;
        position: relative;
    }
    .fa-github{
        color: black;
        position: absolute;
        animation: spinner 5s infinite;
        right: 1%;
        top: 10px;
        font-size: 100%;
    }
    .fa-github:hover{
        background-color: black;
        color: white;
        border: solid;
        border-radius: 20%;
        animation-play-state: paused;
    }

    /* Education Container */
    .education-container, .experience-container{
        width: 95%;
        text-align: center;
    }
    .education-container > h5{
        display: block;
        font-size: 1rem;
        margin: 5% auto;
        font-weight: bold;
    }

    /* Skill pages */
    .speak-container, .programming-container, .softwareExp{
        width: 95%;
        margin: 5% auto;
    }

    .LangTri, .webskills, .dataskills, .gameskills, .generalskills, .softwares{
        line-height: 1.6;
        border: white solid 1px;
        padding: 2%;
        margin: 5% auto;
        width: 100%;
        border-radius: 10px;
        font-size: 20px;
    }

    /* Project */
    .projOdd{
        margin: 10px auto;
        width: 95%;
    }
    .carousel{
        width: 100%;
        margin-top: 20px;
        padding: 10px;
        background-color: white;
        border-radius: 8px;
    }
    .pimg{
        height: 35%!important;
    }
  }