/* MEDIA */
@media (max-width: 950px){
    .top-container > h1{
        text-align: center;
        margin-top: 3%;
        color: white;
        font-size: 300%;
        font-family: 'Notable', sans-serif;
    }

    .material-icons-outlined{
        display: none;
    }
    /* Index: Intro Container */
    .intro-container{
        width: 90%;
    }
    .intro-container > h1{
        font-size: 400%;
    }
    .intro-container > p{
        font-size: 130%;
    }

    /* Index: Contact Container */
    .contact-container{
        text-align: left;
        margin: 75px 7% 25px 7%;
        color: white;
        font-family: 'Notable', sans-serif;
        border: white solid;
        border-width: 0.5px;
        border-radius: 5%;
        padding: 15px;
    }
    /* About: Picture Container */
    .profile-pic-container{
        text-align:center;
        background-color: #FDFEFE;
        max-width: 80%;
        margin: 3% auto;
        overflow: hidden;
        border-radius: 8px;
        position: relative;
    }
    .fa-github{
        color: black;
        position: absolute;
        animation: spinner 5s infinite;
        right: 1%;
        top: 10px;
        font-size: 100%;
    }
    .fa-github:hover{
        background-color: black;
        color: white;
        border: solid;
        border-radius: 20%;
        animation-play-state: paused;
    }

    /* Education Container */
    .education-container, .experience-container{
        width: 95%;
        text-align: center;
    }
    .education-container > h5{
        display: block;
        font-size: 1rem;
        margin: 5% auto;
        font-weight: bold;
    }

    /* Skill pages */
    .speak-container, .programming-container, .softwareExp{
        width: 95%;
        margin: 5% auto;
    }

    .LangTri, .webskills, .dataskills, .gameskills, .generalskills, .softwares{
        line-height: 1.6;
        border: white solid 1px;
        padding: 2%;
        margin: 5% auto;
        width: 100%;
        border-radius: 10px;
        font-size: 20px;
    }

    /* Project */
    .projOdd{
        margin: 10px auto;
        width: 95%;
    }
    .carousel{
        width: 100%;
        margin-top: 20px;
        padding: 10px;
        background-color: white;
        border-radius: 8px;
    }
    .pimg{
        height: 35%!important;
    }
  }