html{
    scroll-behavior: smooth;
}
body{
    background-color: #2e2e2e;
    overflow-x: hidden;
}

/* Clouds */
.material-icons-outlined{
    position: absolute;
    color: white;
}
.lvl1{
    margin-top: 0;
    font-size: 900%;
    z-index: -2;
    animation: animateCloud 30s linear infinite;
	transform: scale(0.65);
}
@keyframes animateCloud {
    0% {
        margin-left: 0%;
    }
    25% {
        margin-left: 5%;
    }
    50% {
        margin-left: 10%;
    }
    75% {
        margin-left: 5%;
    }
    100% {
        margin-left: 0%;
    }
}
/* Scroll Bar */
::-webkit-scrollbar {
    width: 5px;
  }
  
/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: white; 
    border-radius: 10px;
    width: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #dee4e7; 
}

/* SplashScreen */
.splash{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: black;
    z-index: 200;
    color: white;
    text-align: center;
    line-height: 90vh;
}

.splash.display-none{
    position: fixed;
    opacity: 0;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: black;
    z-index: -10;
    color: white;
    text-align: center;
    line-height: 90vh;
    transition: all 1s;
}

.splashHeader{
    position:relative;
    top: 45%;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    animation: type 3s steps(22);
    overflow: hidden;
    white-space: nowrap;
    font-family: 'Brush Script MT', cursive;
    font-size: 150px;
    border-right: 4px solid black;
    width: 11ch;
    color: white;
}

@media only screen and (max-width: 500px){
    .splashHeader{
        position:absolute;
        top: 45%;
        left: 0;
        right: 0;
        bottom: 0;
        margin: auto;
        animation: type 3s steps(22);
        overflow: hidden;
        white-space: nowrap;
        font-family: 'Brush Script MT', cursive;
        font-size: 370%;
        border-right: 4px solid black;
        width: 11ch;
        color: yellow;
    }
}

@keyframes type{
    0%{
        width: 0ch;
    }
    100%{
        width: 11ch;
    }
}

@keyframes fadeIn{
    to{
        opacity: 1;
    }
}
.fade-in{
    opacity: 0;
    animation: fadeIn 1s ease-in forwards;
}

/* NavBar */
.navbar-brand{
    font-family: 'Brush Script MT', cursive;
    font-size: 150%;
}

.top-container > h1{
    text-align: center;
    margin-top: 3%;
    color: white;
    font-size: 500%;
    font-family: 'Notable', sans-serif;
}

/* Index: Intro Container */
.intro-container {
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
    -webkit-transform: scale(.6) translate(-50%); /* Scaled down for a better Try-it experience (change to 1 for full scale) */
    transform: scale(.6) translate(-50%); /* Scaled down for a better Try-it experience (change to 1 for full scale) */
    left: 50%;
    position: absolute;
    width: 1366px;
    height: 800px;
    border-radius: 6px;
    border-style: solid;
    border-color: #A8A8A8;
    border-width: 15px 15px 70px;
    background-color: silver;
  }
  .intro-container:after {
    content: '';
    display: block;
    position: absolute;
    width: 1600px;
    height: 60px;
    margin: 70px 0 0 -110px;
    background: #606060;
    border-radius: 6px;
  } 
  .intro-container:before {
    content: '🍎Apple';
    text-align: center;
    font-size: 25px;
    display: block;
    position: absolute;
    width: 250px;
    height: 30px;
    bottom: -55px;
    left: 50%;
    margin-bottom: 5px;
    -webkit-transform: translate(-50%);
    transform: translate(-50%);
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    z-index: 1;
  }
  .content {
    padding-top: 5%;
    width: 100%;
    height: 100%;
    overflow: hidden;
    border: none;
    background-color: lightblue;
    text-align: justify;
    padding: 5%;
  }
  .content:hover{
    cursor: url(https://cur.cursors-4u.net/cursors/cur-2/cur116.cur), auto !important;
  }
  #content > h1{
    text-align: center;
     font-family: 'DM Mono', monospace;
     font-size: 600%;
  }
  #content > P{
    font-family: 'DM Mono', monospace;
    display: inline-block;
    font-size: 200%;
    padding-bottom: 5px;
  }
/* Index: Contact Container */
.contact-container{
    text-align: left;
    margin: 15px 15% 25px 15%;
    color: white;
    background-color: #2e2e2e;
    font-family: 'Notable', sans-serif;
    border: white solid;
    border-width: 0.5px;
    border-radius: 5%;
    padding: 15px;
}
.contact-container > h2{
    text-align: center;
}
#contact-me{
    display: block;
    width: 100%;
    height: 10%;
    border-radius: 8px;
    margin-top: 15px;
    font-size: 170%;
}
#contact-back{
    width: 10%;
    height: 10%;
    float: right;
    border-radius: 8px;
    font-size: 170%;
}
input,textarea{
    font-family: Arial, Helvetica, sans-serif;
}
.submit-button{
    width: 100%;
    display: block;
}
.submit-button:hover , #contact-me:hover, #contact-back:hover{
    background-color: #E0E0E0;
    cursor: url(https://cur.cursors-4u.net/cursors/cur-2/cur116.cur), auto !important;
}
.errmsg{
    width: 100%;
    display: block;
    text-align: center;
    color: red;
    padding: 10px;
}

/* About: Profile Picture Container */
.profile-pic-container{
    text-align:center;
    background-color: #FDFEFE;
    max-width: 50%;
    margin: 3% auto;
    overflow: hidden;
    border-radius: 8px;
    position: relative;
}
.profilePic{
    display: inline-block;
    margin: 3% auto;
    padding: 2%;
}
.fa-github{
    color: black;
    position: absolute;
    animation: spinner 5s infinite;
    right: 15px;
    top: 10px;
}
.fa-github:hover{
    background-color: black;
    color: white;
    border: solid;
    border-radius: 20%;
    animation-play-state: paused;
}
@keyframes spinner {
    0% {
       opacity: 1; 
       transform: scale(1)
    }
    20% {
        opacity: 1;
        transform: scale(.75)
    }
    40% {
      opacity: 1;
      transform: scale(1)
    }
    60% {
      opacity: 1;
      transform: scale(.75)
    } 
    100% {
     opacity: 1;
      transform: scale(1)
    }
}

/* Education Container */
.education-container{
    color: white;
    width: 60%;
    margin: 0 auto;
}
.education-container > h3{
    display: block;
    margin: 3% auto;
    text-decoration: underline;
    text-align: center;
    font-family: 'Notable', sans-serif;
}
.education-container > h5{
    margin: 3% auto;
}

/* Work Container */
.experience-container{
    color: white;
    width: 60%;
    margin: 0 auto;
}
.experience-container > h3{
    display: block;
    margin: 3% auto;
    text-decoration: underline;
    text-align: center;
    font-family: 'Notable', sans-serif;
}
.experience-container > h5{
    margin: 3% auto;
}

/* Language Speaking Container */
.speak-container, .programming-container, .softwareExp{
    color: white;
    margin: 3% auto;
    display: block;
    width: 70%;
    text-align: center;
}
.LangTri, .webskills, .dataskills, .gameskills, .generalskills, .softwares{
    line-height: 1.6;
    border: white solid 1px;
    padding: 2%;
    margin: 5% auto;
    width: 70%;
    border-radius: 10px;
    font-size: 20px;
}

/* Projects */
.projOdd{
    margin: 10px auto;
    width: 70%;
}
.carousel{
    width: 70%;
    margin: 20px auto;
    padding: 10px;
    background-color: white;
    border-radius: 8px;
}
.pimg{
    height: 500px!important;
}
.ptitle{
    color: white;
}
.ptitle > h2{
    display: inline-block;
    margin: 0 2% 0 0;
}
.ptitle > button{
    text-align: center;
    margin: 0 0 10px 0;
    padding: 3px;
    animation: spinner 5s infinite;
}
.ptitle > p{
    display: inline-block;
    margin-right: 0.5%;
}
.tag{
    background-color: white;
    color: black;
    border-radius: 2px;
    padding-top: 0.5px;
    padding-left: 1.5px;
    padding-right: 1.5px;
    margin-right: 1%;
}
.hvr:hover{
    background-color: #2e2e2e;
    color: white;
    animation-play-state: paused;
}
@keyframes spinner {
    0% {
       opacity: 1; 
       transform: scale(1)
    }
    20% {
        opacity: 1;
        transform: scale(.95)
    }
    40% {
      opacity: 1;
      transform: scale(1)
    }
    60% {
      opacity: 1;
      transform: scale(.95)
    } 
    100% {
     opacity: 1;
      transform: scale(1)
    }
}
.desc{
    color: white;
    display: inline-block;
    margin-bottom: 7%;
}